public/validar.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Arreglo">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Usuario" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="Nombre"/>
                            <xs:element type="xs:string" name="Correo"/>
                            <xs:element type="xs:int" name="Contrasena"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>